/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@import '@/styles/mixins.scss';

:root {
  --color-purple: #8e24aa;
  --color-light-gray: #f1f1f1;
  // font-family: 'Circe', sans-serif;
}

html {
  overflow: hidden;
}
::-webkit-scrollbar {
  height: 8px;
  width: 6px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-purple);
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: var(--color-light-gray);
}
body.dark-theme ::-webkit-scrollbar-track {
  background: rgb(66, 66, 66);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.v-application--wrap {
  height: 100dvh !important;
}
.top-pattern {
  position: fixed;
  bottom: 0;
  right: 16px;
  height: 100%;
  aspect-ratio: 1 / 1;
  z-index: 0;
}
.app-main {
  overflow-y: auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  &--page {
    z-index: 10;
    flex: 1;
  }
  .v-data-table--loading {
    color: #3f51b5 !important;
  }
}

.app-navigation {
  position: relative;
  overflow: hidden;
  .v-list-group__items .v-list-item {
    padding-inline-start: 32px !important;
  }
  .v-list-item:not(.v-list-item--active) {
    .v-list-item__prepend i {
      opacity: 0.8;
    }
  }
  .v-list-item__prepend i {
    color: #9c27b0 !important;
  }

  &--inner {
    z-index: 10;
    position: relative;
  }

  &--bg {
    z-index: 0;
    position: absolute;
    height: 80%;
    left: -50%;
    bottom: -10%;
    transform: translateX(-35%);
  }

  &--logo {
    padding: 15px 0;
    display: block;
    img {
      height: 45px;
      display: block;
      margin: 0 auto;
    }
  }
  &--user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px 6px;
    cursor: pointer;
    &__img {
      display: block;
      max-width: 44px;
      width: 100%;
      height: 44px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
    }
    &__name {
      font-size: 14px;
      font-weight: 700;
      color: #9c27b0;
    }
  }
  .v-list-item__prepend .v-list-item__spacer {
    width: 12px !important;
  }
  .v-list-item__append .v-list-item__spacer {
    display: none;
  }
  .v-list-item-title {
    font-size: 14px;
    white-space: wrap;
  }
}

.ticket {
  position: absolute;
  top: -100%;
  left: -100%;
  z-index: -10;
  width: 210mm;
  height: 297mm;
}

.v-field--disabled {
  opacity: 0.95;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}
